@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&display=swap');

.container {
  width: 280px;
  color: #314d3e;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  margin: 5px 5px;
  padding: 3px;
}

.bookmark {
  display: flex;
  border-bottom-color: #00254d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0.8rem;
  padding: 3px;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.bookmark-title {
  padding-left: 2px;
}

.bookmark-controls img {
  margin: 0 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.bookmark-controls {
  flex: auto;
  text-align: right;
}

/* Color */
:root{
  --primary-color: #2196F3;
  --user-chat-color: #797979;
}

/* Reset the original margin padding and set the border box of all element */
*{
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Message loader */
.message-generating-loader {
  margin: .25rem .9rem;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 14px 0 #fff, -14px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 14px 0 #FFF2, -14px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 14px 0 #FFF2, -14px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 14px 0 #FFF, -14px 0 #FFF2;
  }
}


/* Styles for the chat widget */
.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 0;
  height: 0;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
  overflow: hidden;
}

/* Show other element when only chat-widget has active class */
.chat-widget.active{
  width: 450px;
  height: 500px;
}
.chat-widget.active #close-button{
  display: flex;
}
.chat-widget.active .chat-input-container{
  display: flex;
}
.chat-widget.active #chat-window{
  display: block;
}

/* Styles for the close button */
.chat-widget .chat-header{
  height: 8%;
  border-bottom: 1px solid #373737;
}
#close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: #dedede;
  font-size: 14px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  transition-delay: 1s;
}

/* Styles for the chat window */
#chat-window {
  display: none;
  height: 81%;
  padding: 10px;
  overflow-y: auto;
  color: #fff;
}

/* Styles for container of the message input field and button */
.chat-input-container{
  height: 11%;
  max-width: 100%;
  padding: 8px 10px 12px;
  display: none;
  justify-content: space-between;
  border-top: 1px solid #373737;
}

/* Styles for the input field and send button */
#message-input {
  width: 74%;
  padding: 5px;
  padding-left: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
}
#message-input:focus{
  outline: none;
}

#send-button {
  width: 25%;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* Styles for the open/close button */
#toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Styles for messages */
.message-container{
  display: flex;
  position: relative;
  min-width: 80px;
  width: fit-content;
  max-width: 75%;
  margin-bottom: 2.5rem;
}

/* If user message span to right and if it is gpt message span to left */
.user-message-container{
  justify-content: flex-end;
  margin-left: auto;
}
.gpt-message-container{
  margin-right: auto;
}

/* Style for messages */
.message-container .message{
  display: inline-block;
  padding: .5rem .75rem;
  border-radius: 8px;
  max-width: 100%;
  width: auto;
  word-wrap: break-word;
  font-size: .95rem;
  font-weight: 300;
  letter-spacing: 1px;
}

/* Add background-color depend on user message or gpt message */
.user-message-container .message{
  background-color: var(--primary-color);
}
.gpt-message-container .message{
  background-color: var(--user-chat-color);
}

/* Style the span tag like time and copy */
.message-container span{
  position: absolute;
  font-size: .95rem;
  font-weight: 300;
}
.message-container span i{
  font-size: .9rem;
  font-weight: lighter;
}

/* position copy btn */
.message-container .copy{
  bottom: 5px;
  right: -22px;
  cursor: pointer;
}
.message-container .copy i{
  color: #747474;
}
.message-container .copy:hover i{
  color: #e0e0e0;
}

/* Styles for time */
.message-container .time{
  font-size: .85rem;
  bottom: -1.5rem;
  color: #a5a5a5;
}

/* position the time depend on user message or gpt message */
.user-message-container .time{
  right: 8px;
}
.gpt-message-container .time{
  left: 8px;
}